*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-size: 15px;
    font-family: "Outfit", sans-serif;    
    background-color: hsl(212, 45%, 89%);
    height: calc(100vh-1px);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 20px;

    
}

img{
    background-color: hsl(216, 15%, 48%);
    border-radius: 10px;
    max-width: 100%;
    
}


.container{
    background-color: white;
    margin: 20px;
    padding: 1%;
    border-radius: 10px;
    box-shadow: 0 4px 8px 0 rgba(90, 87, 87, 0.2), 0 6px 20px 0 rgba(82, 79, 79, 0.19);
    width: 20%;
}

.attribution { 
    font-size: 11px; 
    
}

.attribution a { 
    color: hsl(228, 45%, 44%); 
    
}

@media (min-width: 500px) {
    .container{
        width: 400px;
    }
}